In [6]:
import requests
import pandas as pd
import numpy as np

In [2]:
response = requests.get("http://localhost:4000/logs")

In [5]:
response.json()[1]

{'_id': '5f63cccdffab870010e965e6',
 'container_id': '8f68df36177d19a2b141226b497ec6f6ee5b190249d5267ff39a64d35457cb36',
 'container_name': '/docker-compose_front-end_1',
 'source': 'stderr',
 'log': 'npm info it worked if it ends with ok',
 'time': 'Thu Sep 17 2020 20:53:22 GMT+0000 (Coordinated Universal Time)'}

In [7]:
df = pd.DataFrame(response.json())

In [8]:
df.describe()

,_id,container_name,source,log,container_id,time
count,671,671,671,671,671,671
unique,671,2,2,238,2,11
top,5f63cd08ffab870010e96755,/docker-compose_front-end_1,stdout,,8f68df36177d19a2b141226b497ec6f6ee5b190249d526...,Thu Sep 17 2020 20:54:27 GMT+0000 (Coordinated...
freq,1,648,640,48,648,178

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 6 columns):
_id               671 non-null object
container_name    671 non-null object
source            671 non-null object
log               671 non-null object
container_id      671 non-null object
time              671 non-null object
dtypes: object(6)
memory usage: 31.6+ KB